.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-container > div:hover {
  background-color: #ddd;
  transform: scale(1.05);
  transition: transform 0.2s, background-color 0.2s;
}