.grid-container {
  display: grid;
  /*grid-template-columns: auto auto auto;*/
  grid-template-columns: repeat(3, 1fr);   /* Automatically creates 3 equal columns */
  gap: 10px;
  padding: 10px;
  justify-items: center;   /* Centers grid items horizontally */
  align-items: center;   /* Centers grid items vertically */
  width: 80%; /* Width of the grid container */
  max-width: 800px; /* Maximum width of the grid */
  margin: 0 auto; /* Center the grid container horizontally */
}

.grid-container > div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px; /* Width of each item */
  margin-bottom: 30px;
  margin-right: 30px;
  max-width: 200px; /* Maximum width of each item */

}

@media (max-width: 768px) {
  .grid-container > div {
    font-size: 16px; /* Explicitly set a smaller font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .grid-container>div {
    font-size: 16px;   /* Even smaller font size on very small screens */
    max-width: 120px;
  }
}

.grid-container > div:hover {
  background-color: #cbc5c5;
  transform: scale(1.05);
  transition: transform 0.2s, background-color 0.2s;
}

.grid-container > div > .red-cross-mark {
  font-size: 20px; /* Adjust the size of the cross */
}

.grid-container > div:hover > .red-cross-mark {
  font-size: 50px; /* Adjust the size of the cross */
  color: red; /* Red color */
  font-weight: bold; /* Make the cross bold */
  cursor: pointer; /* Change cursor to pointer */
}

.img{
  width: 130px;
  height:130px;
  border-radius: 80%;
}

p{
  font-weight: bold;
}