

.grid-container > div > .red-cross-mark {
  font-size: 20px; /* Adjust the size of the cross */
}

.grid-container > div:hover > .red-cross-mark {
  font-size: 50px; /* Adjust the size of the cross */
  color: red; /* Red color */
  font-weight: bold; /* Make the cross bold */
  cursor: pointer; /* Change cursor to pointer */
}

.img{
  width: 130px;
  height:130px;
  border-radius: 80%;
}

p{
  font-weight: bold;
}