.dashboard{
    font: bold;
    font-size: 50px;
    text-align: center;
    padding: 30px 20px;
}

.btn{
    background-color: #1753e0;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 50px;
}

.container {
  position: relative;
  margin-top: 20px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}


/* For the temperature toggle switch */

.unit-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.unit-button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.unit-button.active {
  background-color: #4caf50;
  color: white;
}

.unit-button:hover {
  background-color: #f1f1f1;
}