<div class="dashboard"> Dashboard
    <div class="container">

        <!-- Button that triggers the input field pop-up -->
        <button class="btn" (click)="toggleInput()"> + Add location</button>

        <!-- Input field pop-up -->
        <div *ngIf="isInputVisible" class="popup">
            <div class="popup-content">
                <!-- Dropdown list -->
                <select [(ngModel)]="selectedCountryCode">
                    <option value="" disabled>Select a country</option> <!-- Placeholder -->
                    <option *ngFor="let country of countries" [value]="country.code">
                        {{ country.country }} ({{ country.code }})
                    </option>
                </select>

                <input type="text" [(ngModel)]="zipcode" placeholder="Enter zipcode (10 character max)"
                    maxlength="10" />

                <button (click)="submitInput()">Submit</button>
                <button (click)="toggleInput()">Cancel</button>
            </div>
        </div>

        <div class="unit-toggle">
            <button class="unit-button" [class.active]="isCelsius" (click)="toggleUnit()">Celsius (°C)</button>
            <button class="unit-button" [class.active]="!isCelsius" (click)="toggleUnit()">Fahrenheit (°F)</button>
        </div>

        <div class="grid-container">
            <div *ngFor="let weather of weatherSummaries" routerLink="/detail/{{weather.city}}">
                <app-summary [unit]="isCelsius ? 'Celsius' : 'Fahrenheit'" [weather]="weather"></app-summary>
            </div>
        </div>

    </div>
</div>


<!--ng-container *ngComponentOutlet="outletComponent"></ng-container> <!-- This will load the component dynamically -->